@model IEnumerable<SinavOtomasyonuProjesi.Models.Dersler>

@{
    ViewBag.Title = "DersListele";
}

<h2>Ders Listele</h2>

<div class="pull-right">
    <a href="@Url.Action("DersEkle", "Dersler")" class="btn btn-primary glyphicon glyphicon-chevron-left"> GeriDön</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ders Adı</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ders_Adi)
            </td>
            <td>
                <div class="btn-group">
                    <a href="@Url.Action("DersDüzenle", "Dersler", new { id = item.D_id })" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i>Düzenle</a>
                    <a href="@Url.Action("DersSil", "Dersler", new { id = item.D_id }) " class=" btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>Sil</a>
                </div>
            </td>
        </tr>
    }

</table>
