@{
    ViewBag.Title = "Gizlilik_İlkeleri";
}

<div class="container">

    <!-- =PageHeader -->
    <header class="page-header  has-desc">
        <!-- =PageHeading -->
        <h2 class="page-heading">Gizlilik İlkeleri</h2>





    </header>
    <!-- =PageDesc -->
    <div class="page-desc">
        <p class="has-dropcap"><strong>Sinav Otomasyonu, </strong>ilke olarak, ziyaretçileri tarafından sitemize sunulan kişisel verileri (elektronik posta adresiniz, iş ve özel adresiniz ve telefon numaranız) üçüncü kişilere satmaz, kiralayamaz ya da başka şekilde kullandıramaz.</p>
    </div>
    <!-- =PageHeader -->
    <!-- =PageContents -->
    <div class="page-contents">
        <p>Bu bilgiler, olası bir kullanım durumunda tarafımızdan size önceden bilgi verilmeden ve bilgileri sunarken sizin açık izniniz alınmadan hiç bir şekilde doğrudan pazarlama ya da siz istemeden izleme amacıyla kullanılmaz. Sinav Otomasyonu, sizin izninizle bu bilgileri aşağıda ki amaçlar için kullanacaktır:</p>

        <ul>
            <li>Size basılı yayınlar ya da diğer yazışmalar göndermek.</li>
            <li>Size elektronik posta ile basın bültenleri ya da bildirimler göndermek.</li>
        </ul>

        <p>Kişisel bilgilere sadece yetkili Sinav Otomasyonu personeli ya da bilgileri gizli tutmayı kabul etmiş olan temsilcilerimiz erişebilirler. Sinav Otomasyonu, kişileri açıklamadan, istatistiksel bilgileri (tarayıcı tipi, coğrafi konum, yaş, cinsiyet, vb) sürekli iç gözden geçirme sürecimizin bir parçası olarak sitemizi iyileştirmek; genel olarak ürünlerimizin tüketicileri hakkında daha çok şey öğrenmek amacıyla kullanır. Bu bilgiler Sinav Otomasyonu tarafından üçüncü kişilere açıklanmaz. Bu veriler sadece belirtilen amaç için kullanılabilir ve sizin izniniz alınmadan hiç bir tek taraflı haberleşme amacıyla kullanılamaz.</p>


    </div>

</div>
<a href="@Url.Action("Index","Posts")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-arrow-left"></i>  Giriş Yap</a>
<a href="@Url.Action("CreateUser", "Posts")" class="btn btn-sm  btn-primary"><i class="glyphicon glyphicon-plus"></i>Kaydol</a>