@{
    ViewBag.Title = "Kullanım_Koşulları";
}


    <!-- =PageHeader -->
    <header class="page-header  has-desc">
        <!-- =PageHeading -->
        <h2 class="page-heading">Kullanım Koşulları</h2>





    </header>
    <!-- =PageDesc -->
    <div class="page-desc">
        <p class="has-dropcap">Bu sitedeki her türlü ses, görüntü, yazı içeren bilgi ve belge, ticari marka ve her tür fikri mülkiyet, Sinav Otomasyonu veya bağlı şirketlerine aittir, yalnızca sahipleri tarafından ve sahiplerinin izni ile kullanılmaktadır ve telif hakları kapsamındadır. İzinsiz değişiklik yapmak, kopyalamak, kiralamak, ödünç vermek, iletmek ve yayınlamak yasaktır. Bu siteden alınan her türlü ses, görüntü, yazı içeren hiçbir bilgi ve belge satılamaz veya herhangi bir kâr amacıyla dağıtılamaz.</p>
    </div>
    <!-- =PageHeader -->
    <!-- =PageContents -->
    <div class="page-contents">
        <p>Sinav Otomasyonu sitesindeki bağlantılar sizi Sinav Otomasyonu ağının dışına götürebilir. Sinav Otomasyonu, bu sitelerin içeriği, doğruluğu veya işleviyle ilgili olarak, hiç bir sorumluluk üstlenmez. Bu bağlantılar iyi niyet çerçevesinde sunulmaktadır. Sinav Otomasyonu, bağlantısını verdiğimiz sitelerde daha sonra olabilecek herhangi bir değişiklikten sorumlu değildir. Sinav Otomasyonu, Sinav Otomasyonu ‘a bağlı şirketler veya bu sitenin oluşturulması, üretilmesi veya iletilmesinde yer alan diğer herhangi bir üçüncü taraf bu siteye erişim veya sitenin kullanımından doğabilecek herhangi bir doğrudan, dolaylı, arızi, tali veya cezai zarar, ziyan veya hasardan ötürü sorumlu tutulamaz.</p>

        <p>Bu sitedeki her şey olduğu gibi sunulmaktadır. Sinav Otomasyonu veya bağlı şirketlerinden herhangi biri, bu sitede yer alan herhangi bir ses, görüntü, yazı içeren bilgi ve belgenin belirli bir amaca uygunluğunu garanti etmez. Ayrıca, bu siteye erişiminiz, kullanmanız veya bu siteden herhangi bir ses, görüntü, yazı içeren bilgi ve belge indirmeniz nedeniyle bilgisayar donanımınızda veya diğer varlıklarınızda olabilecek herhangi bir hasar veya bulaşabilecek bir virüsten Sinav Otomasyonu sorumlu tutulamaz.</p>

        <p>İnternet aracılığıyla Sinav Otomasyonu’a ilettiğiniz her tür bilginin (her tür yorum, öneri, fikir, grafik, vb dahil), size veya başka herhangi bir kişiye herhangi bir ödeme yapılmaksızın, sınırsız kullanım hakkı yalnızca Sinav Otomasyonu mülkiyetine geçecektir. Ayrıca, bu tür bilgiler tarafımızca gizli tutulmak zorunda değildir.</p>

        <p>18 yaşından küçüklerin, Sinav Otomasyonu Web Sitesine, velileri veya vasilerinden izin almaksızın bilgi sunmalarından Sinav Otomasyonu sorumlu tutulamaz.</p>
    </div>


<a href="@Url.Action("Index","Posts")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-arrow-left"></i>  Giriş Yap</a>
<a href="@Url.Action("CreateUser", "Posts")" class="btn btn-sm  btn-primary"><i class="glyphicon glyphicon-plus"></i>Kaydol</a>